In [319]:
import numpy as np
import os, sys
path = os.getcwd()
origin_data_path = os.path.abspath("../../data")
print(origin_data_path)

F:\code\xianyu\idle-fish\data

In [320]:
data_file_list = []
files = os.listdir(origin_data_path)
# print(files)
for file in files:
    data_file_list.append(origin_data_path+"\\"+file) #数据的绝对路径
# print(data_file_list)
import pandas as pd
print(data_file_list[0]) # 获取一个文件名

result_of_first_path = os.path.abspath("../../result/") + "/out1.csv"
result_of_first_path

F:\code\xianyu\idle-fish\data\results_10.csv

'F:\\code\\xianyu\\idle-fish\\result/out1.csv'

In [321]:
adict = dict()
alist = ["condition", "name", "age", "gender", "hits_proportion", "nearMiss_proportion", "fullMiss_proportion","hits_mean_hp", "nearmiss_mean_hp","fullMiss_mean_ha", "hits_mean_willing", "nearMiss_mean_willing", "fullMiss_mean_willing", "max_happiness", "pos_max_happiness", "min_happiness","pos_min_happiness", "date", "ip", "datetime", "trail_times"]
blist = files
df = pd.DataFrame(columns=alist, index=blist)
df

,condition,name,age,gender,hits_proportion,nearMiss_proportion,fullMiss_proportion,hits_mean_hp,nearmiss_mean_hp,fullMiss_mean_ha,...,nearMiss_mean_willing,fullMiss_mean_willing,max_happiness,pos_max_happiness,min_happiness,pos_min_happiness,date,ip,datetime,trail_times
results_10.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
results_100.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
results_110.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
results_112.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
results_114.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
results_88.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
results_89.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
results_90.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
results_93.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
results_95.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [329]:
import datetime
import time
count = 0
length_of_file = len(data_file_list)
print(length_of_file)
for i in range(1):
    # 这一部分用来读取头
    d1 = pd.read_table(data_file_list[i],nrows=4, header=None)
    df.iloc[count][0] = d1.iloc[0][0]
    date_str = str(d1.iloc[1][0]).split(sep=":")[1].strip()
    format_date = datetime.datetime.strptime(date_str, "%d%m%Y%H%M%S")
    ip_str = str(d1.iloc[2][0]).split(sep=":")[1].strip()
    msg_str = str(d1.iloc[3][0])
    df.iloc[count][1], df.iloc[count][2],df.iloc[count][3] = msg_str.split(sep=",")

    data_df = pd.read_csv(data_file_list[i], encoding="utf-8",skiprows=[0,1,2,3])
    trail_number = data_df.shape[0]
    trail_result = data_df["Result"]
    hit_num = list(trail_result).count("hit")
    nearMiss_num = list(trail_result).count("nearMiss")
    fullMiss_num = list(trail_result).count("fullMiss")
    df.iloc[count][4] = round(hit_num / trail_number,2)
    df.iloc[count][5] = nearMiss_num / trail_number
    df.iloc[count][6] = fullMiss_num / trail_number

    mean_data_df = data_df[["Result", "Happinness", "WantsMore"]]
    # print(mean_data_df)
    mean_df_trans = pd.DataFrame(mean_data_df[["Happinness", "WantsMore"]].values.T, columns=mean_data_df["Result"])
    # print(mean_df_trans["hit"])
    # # print(mean_df_trans["hit"].mean(axis=1))
    df.iloc[count][7] = mean_df_trans["hit"].mean(axis=1)[0]
    df.iloc[count][8] = mean_df_trans["nearMiss"].mean(axis=1)[0]
    df.iloc[count][9] = mean_df_trans["fullMiss"].mean(axis=1)[0]
    df.iloc[count][10] = mean_df_trans["hit"].mean(axis=1)[1]
    df.iloc[count][11] = mean_df_trans["nearMiss"].mean(axis=1)[1]
    df.iloc[count][12] = mean_df_trans["fullMiss"].mean(axis=1)[1]

    df.iloc[count][13] = data_df["Happinness"].max()
    df.iloc[count][14] = data_df["Happinness"].idxmax()
    df.iloc[count][15] = data_df["Happinness"].min()
    df.iloc[count][16] = data_df["Happinness"].idxmin()
    df.iloc[count][17] =  time.mktime(format_date.timetuple())
    df.iloc[count][18] = ip_str
    df.iloc[count][19] = format_date.date()
    df.iloc[count][20] = trail_number


    count+=1
df

78

,condition,name,age,gender,hits_proportion,nearMiss_proportion,fullMiss_proportion,hits_mean_hp,nearmiss_mean_hp,fullMiss_mean_ha,...,nearMiss_mean_willing,fullMiss_mean_willing,max_happiness,pos_max_happiness,min_happiness,pos_min_happiness,date,ip,datetime,trail_times
results_10.csv,skill,Manoj,25,male,0.22,0.407407,0.37037,59.833333,0.454545,0.2,...,14.909091,13.9,99,2,0,1,1370328203.0,"69.216.67.223,",2013-06-04,27
results_100.csv,luck,Emma,31,Female,0.15,0.296296,0.555556,56.25,27.875,21.133333,...,13.5,15.2,62,11,0,22,1370919438.0,27.159.43.98,2013-06-11,27
results_110.csv,mixed,Yanina,45,Female,0.18,0.285714,0.5,95.2,37.5,43.642857,...,91.875,90.142857,98.0,20,6.0,13,1370932367.0,55.23.173.55,2013-06-11,28
results_112.csv,mixed,Daniela,26,FEMALE,0.07,0.333333,0.592593,48.5,36.222222,34.0,...,17.555556,18.25,64,3,0,16,1370850038.0,71.230.162.195,2013-06-10,27
results_114.csv,skill,Elio,24,MALE,0.3,0.296296,0.407407,67.75,22.5,29.818182,...,46.125,47.363636,92,14,0,22,1370358237.0,91.62.120.201,2013-06-04,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
results_88.csv,mixed,Roger,24,Male,0.15,0.333333,0.518519,49.75,50.111111,50.071429,...,9.888889,9.428571,52,2,48,9,1371106433.0,7.239.19.202,2013-06-13,27
results_89.csv,mixed,Sam,23,MALE,0.15,0.259259,0.592593,71.25,47.285714,50.25,...,64.571429,63.625,77,13,34,2,1370508575.0,202.90.23.253,2013-06-06,27
results_90.csv,skill,Belen,23,FEMALE,0.22,0.259259,0.518519,91.833333,5.428571,0.928571,...,19.285714,13.214286,100,2,0,0,1371459466.0,139.252.15.102,2013-06-17,27
results_93.csv,mixed,Rafael,28,MALE,0.15,0.269231,0.576923,93.0,33.714286,34.6,...,24.428571,38.266667,99,3,5,19,1371113766.0,27.25.20.93,2013-06-13,26
results_95.csv,mixed,Macarena,26,female,0.19,0.230769,0.576923,77.6,49.333333,49.666667,...,34.0,33.133333,99,3,42,1,1371021863.0,94.110.82.122,2013-06-12,26

In [330]:
sort_df = df.sort_values(by="date")
result_df = sort_df.drop_duplicates(subset=['ip'], keep='first', inplace=False)
result_df
result_df[alist[:17]].to_csv(result_of_first_path, index=None)
print("success")

success

In [331]:
# 第一部分完成， 开始第二部分

In [332]:
# second
result_of_second_path = os.path.abspath("../../result/") + "/out2.csv"
result_of_second_path

second_columns = ["date","total_participants", "skill_num", "luck_num", "mixed_num","average_trials"]
blist = files

In [333]:
import time
def fun2(x):
    publishtime = str(x)
    array = time.strptime(publishtime, u"%Y-%m-%d")
    publishTime = time.strftime("%d-%m-%Y", array)
    return publishTime

count = 0
length_of_file = len(data_file_list)
df_total = result_df.copy() #这里使用的是去重的数据
df_total["datetime"] = df_total.datetime.apply(lambda x: fun2(x))
df_total["datetime"]
df_second_temp = df_total.copy()[["condition", "datetime"]]
df_second_temp

                condition    datetime
results_10.csv      skill  04-06-2013
results_204.csv     mixed  04-06-2013
results_248.csv     mixed  04-06-2013
results_175.csv     mixed  04-06-2013
results_263.csv      luck  04-06-2013
...                   ...         ...
results_93.csv      mixed  13-06-2013
results_203.csv     skill  13-06-2013
results_90.csv      skill  17-06-2013
results_252.csv     mixed  17-06-2013
results_206.csv     skill  18-06-2013

[74 rows x 2 columns]

In [336]:
df_2_use = df.copy()[["condition", "datetime", "trail_times"]]
df_2_use["datetime"] = df_2_use.datetime.apply(lambda x: fun2(x)) # 这里是未去重的数据
# print(df_2_use)
df_second_temp_trans = pd.DataFrame(df_2_use.values.T, columns= df_2_use["datetime"])
df_second_temp_trans = df_second_temp_trans
df_second_temp_trans

datetime,04-06-2013,11-06-2013,11-06-2013,10-06-2013,04-06-2013,11-06-2013,05-06-2013,10-06-2013,12-06-2013,13-06-2013,...,13-06-2013,12-06-2013,12-06-2013,13-06-2013,13-06-2013,13-06-2013,06-06-2013,17-06-2013,13-06-2013,12-06-2013
0,skill,luck,mixed,mixed,skill,skill,skill,luck,skill,skill,...,mixed,mixed,luck,skill,skill,mixed,mixed,skill,mixed,mixed
1,04-06-2013,11-06-2013,11-06-2013,10-06-2013,04-06-2013,11-06-2013,05-06-2013,10-06-2013,12-06-2013,13-06-2013,...,13-06-2013,12-06-2013,12-06-2013,13-06-2013,13-06-2013,13-06-2013,06-06-2013,17-06-2013,13-06-2013,12-06-2013
2,27,27,28,27,27,28,25,27,29,23,...,25,28,26,29,27,27,27,27,26,26

In [335]:
temp_df2 = df_second_temp.drop_duplicates(subset=['datetime'], keep='first', inplace=False)
second_numbers = temp_df2.shape[0]
print(second_numbers)
all_time_list = list(temp_df2["datetime"])
print(all_time_list)

10
['04-06-2013', '05-06-2013', '06-06-2013', '07-06-2013', '10-06-2013', '11-06-2013', '12-06-2013', '13-06-2013', '17-06-2013', '18-06-2013']

In [317]:
list(df_second_temp["datetime"])
df_second = pd.DataFrame(columns=second_columns, index=all_time_list)

for i in range(second_numbers):
    df_second.iloc[i]["date"] = all_time_list[i]
    df_second.iloc[i][1] = list(df_second_temp["datetime"]).count(str(all_time_list[i]))
    conditions_df = df_second_temp_trans[all_time_list[i]].iloc[[0,1]]
    #print(conditions_df)

    conditions_df_trans =pd.DataFrame(conditions_df.values.T).iloc[:, :1]
    conditions_df_trans.columns = ["fangFa"]
    fang_fa_list = list(conditions_df_trans["fangFa"])
    new_list = []
    for item in fang_fa_list:
        new_list.append(item.strip())
    # print(new_list)
    df_second.iloc[i][2] = new_list.count("skill")
    df_second.iloc[i][3] = new_list.count("luck")
    df_second.iloc[i][4] = new_list.count("mixed")

    mean_trail_df = df_second_temp_trans[all_time_list[i]].iloc[[2]]
    mean_trail_df_trans = pd.DataFrame(mean_trail_df.values.T).iloc[:, :1]
    mean_trail_df_trans.columns = ["cishu"]
    total_sum = mean_trail_df_trans["cishu"].sum()
    # print(mean_trail_df_trans)
    # print(total_sum)
    # print("__________________________")
    df_second.iloc[i][5] = round(total_sum / df_second.iloc[i][1], 2)
df_second

,date,total_participants,skill_num,luck_num,mixed_num,average_trials
04-06-2013,04-06-2013,16,6,5,5,26.75
05-06-2013,05-06-2013,4,2,1,1,26.5
06-06-2013,06-06-2013,4,1,2,2,34.25
07-06-2013,07-06-2013,1,0,0,1,26.0
10-06-2013,10-06-2013,8,3,2,4,30.12
11-06-2013,11-06-2013,8,3,3,2,27.0
12-06-2013,12-06-2013,18,6,7,6,28.17
13-06-2013,13-06-2013,12,5,3,4,26.33
17-06-2013,17-06-2013,2,1,1,1,41.5
18-06-2013,18-06-2013,1,1,0,0,29.0

In [318]:
df_second.to_csv(result_of_second_path, index=None)
print("success")

success